

<div id="currentuser">
<% if logged_in? %>

<% else %>
<p>Please</p>
<%= link_to  image_tag( 'Sign-in-with-Twitter-darker.png', { :alt => 'Sign-in With Twitter' } ), new_member_path  %>
<p>To enter the the game</p>
<% end %>
</div>