<div class="description">
<p>
A visualization of a Twitter user's connections
</p>
See the code at: <a href="http://github.com/pthurlow/twitterverse">http://github.com/pthurlow/twitterverse</a>
</div>