<div class="content">
	<div class="description">
		<h3>Guess Who?<sup class="reg">&reg;</sup> meets your social graph</h3>
		<span class="details">
			<p>This is a project to realize the game of Guess Who?<sup class="reg">&reg;</sup> as closely as possible using Twitter social connections.</p>
			<h4>Rules</h4>
			<p>Like the original game, WhooTweet is played by guessing the hidden Twitter user from a set of random Twitter users.  The only information to help you guess the hidden user is a random selection of their Tweets.  There are a limited number of Tweets so every hint matters!</p>
			<h4>About</h4>
			<p>This project uses the <a href="http://dev.twitter.com">Twitter API</a> and was built with Ruby on Rails.  It is open source and the full source can be found on <a href="http://github.com/pthurlow/twitterverse">github</a>.</p>
		</span>
	</div>
</div>