
<% form_remote_tag :url => show_graph_member_path, :method => :get, 
  :success => "initData(request)", :failure => "showError(request)" do -%>

<div style="text-align:center;padding:10px;">
<%= submit_tag 'Start New Game', :class => 'button' %>
</div>
<% end -%>


<div id="container"> 
	
</div> 

<script type="text/javascript">
	
initData = function(request){
	var container = $("container");
	container.innerHTML = request.responseText;
}
showError = function(request) {
	var container = $("container");
	container.innerHTML = request.responseText;
}
showQuote = function(request) {
	var quote = $("quote");
	quote.innerHTML = request.responseText;
}
</script>